[submodule "Hats"]
	path = Hats
	url = https://github.com/TheIdealShipAU/TheIdealShip-Hats
[submodule "Languag-pack"]
	path = Languag-pack
	url = https://github.com/TheIdealShipAU/TheIdealShip-Language-pack